@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    background-color: #ffddd2;
    font-family: 'Indie Flower', cursive;

}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    color: #bc4749;
    margin-top: auto;
}


button {
    font-size: 2em;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    background-color: #bc4749;
    padding: 9px;
    border-radius: 30px;
    color: #f2e8cf;
    /* border-color: #f07167; */
    border-width: 0px;


}

button:hover {
    background-color: #84a59d;
    transition: .5s;
    transform: translateY(-10px);
    box-shadow: 15px 15px 0px 2.5px #006d77;
    border-width: 0px;

}